<?xml version="1.0"?>

<launch>

    <arg name="veh1" default="robot1" />
    <arg name="veh2" default="robot2" />
    <arg name="veh3" default="robot3" />
    <arg name="veh4" default="robot4" />
    <arg name="frame1" default="robot1/base_link" />
    <arg name="frame2" default="robot2/base_link" />
    <arg name="frame3" default="robot3/base_link" />
    <arg name="frame4" default="robot4/base_link" />

    <node ns="$(arg veh1)" pkg="pokingbot_ros" type="pub_gazebo_tf.py" name="pub_gazebo_tf_1" output="screen">
        <param name="frame_name" value="$(arg frame1)"/>
        <param name="robot_name" value="$(arg veh1)"/>
    </node>
<!-- 
    <node ns="$(arg veh2)" pkg="pokingbot_ros" type="pub_gazebo_tf.py" name="pub_gazebo_tf_2" output="screen">
        <param name="frame_name" value="$(arg frame2)"/>
        <param name="robot_name" value="$(arg veh2)"/>
    </node> -->

    <node ns="$(arg veh3)" pkg="pokingbot_ros" type="pub_gazebo_tf.py" name="pub_gazebo_tf_3" output="screen">
        <param name="frame_name" value="$(arg frame3)"/>
        <param name="robot_name" value="$(arg veh3)"/>
    </node>

    <!-- <node ns="$(arg veh4)" pkg="pokingbot_ros" type="pub_gazebo_tf.py" name="pub_gazebo_tf_4" output="screen">
        <param name="frame_name" value="$(arg frame4)"/>
        <param name="robot_name" value="$(arg veh4)"/>
    </node> -->

    <node ns="urban" pkg="pokingbot_ros" type="pub_gazebo_tf.py" name="pub_gazebo_tf_urban" output="screen">
        <param name="frame_name" value="link"/>
        <param name="robot_name" value="stairs"/>
    </node>

    <node pkg="pokingbot_ros" type="urban_sub_pub_tf.py" name="urban_sub_pub_tf" output="screen" />
    <!-- <node pkg="pokingbot_ros" type="set_survivor_at_goal.py" name="set_survivor_at_goal" output="screen" /> -->
    <node pkg="pokingbot_ros" type="pub_door_jointstate.py" name="pub_door_jointstate" output="screen" />
    
    <!--choose robot to pub robot0  -->
    <group ns="robot1">
        <node name="pub_husky_pose_and_camera_image" pkg="pokingbot_ros" type="pub_husky_pose_and_camera_image.py" output="screen">
            <param name="which_car" value="robot1" />
        </node>

        <!-- <node name="pub_stick" pkg="pokingbot_ros" type="pub_stick.py" output="screen">
            <param name="which_car" value="robot1" />
        </node>

        <node name="pub_stick_jointstate" pkg="pokingbot_ros" type="pub_stick_jointstate.py" output="screen">
            <param name="robot_name" value="robot1" />
        </node> -->
    </group>

    <!-- <group ns="robot2">
        <node name="pub_husky_pose_and_camera_image" pkg="pokingbot_ros" type="pub_husky_pose_and_camera_image.py" output="screen">
            <param name="which_car" value="robot2" />
        </node>

        <node name="pub_stick" pkg="pokingbot_ros" type="pub_stick.py" output="screen">
            <param name="which_car" value="robot2" />
        </node>

        <node name="pub_stick_jointstate" pkg="pokingbot_ros" type="pub_stick_jointstate.py" output="screen">
            <param name="robot_name" value="robot2" />
        </node>
    </group> -->

    <group ns="robot3">
        <node name="pub_husky_pose_and_camera_image" pkg="pokingbot_ros" type="pub_husky_pose_and_camera_image.py" output="screen">
            <param name="which_car" value="robot3" />
        </node>

        <node name="pub_stick" pkg="pokingbot_ros" type="pub_stick.py" output="screen">
            <param name="which_car" value="robot3" />
        </node>
        
        <node name="pub_stick_jointstate" pkg="pokingbot_ros" type="pub_stick_jointstate.py" output="screen">
            <param name="robot_name" value="robot3" />
        </node>
    </group>
    
</launch>
