<?xml version="1.0"?>

<launch>
    
    <node pkg="pokingbot_ros" type="sub_vr_joy.py" name="sub_vr_joy_jackal" output="screen" >
        <remap from="/robot1/husky_velocity_controller/cmd_vel" to="/robot1/x2_velocity_controller/cmd_vel"/>
        <remap from="/robot2/husky_velocity_controller/cmd_vel" to="/robot2/x2_velocity_controller/cmd_vel"/>
        <remap from="/robot3/husky_velocity_controller/cmd_vel" to="/robot3/x2_velocity_controller/cmd_vel"/>
    </node>

</launch>
