<launch>
  <arg name="port" default="$(optenv HUSKY_PORT /dev/husky_controller)" />
  <arg name="veh" default="husky" />

  <!-- Husky harware driver -->
  <node ns="$(arg veh)" pkg="husky_base" type="husky_node" name="husky_node">
    <rosparam subst_value="true">
            port: $(arg port)

            control_frequency: 10.0
            diagnostic_frequency: 1.0

            max_acceleration: 3.0
            max_speed: 1.0
            wheel_diameter: 0.3302
            polling_timeout: 10.0
        </rosparam>
    <!-- Output remap -->
    <!--remap from="joint_states" to="husky_joint_states"/-->
    <!--remap from="/joint_states" to="/husky_joint_states"/-->
  </node>

  <!-- Differential controller parameters and basic localization -->
  <include file="$(find husky_control)/launch/control.launch">
    <arg name="veh" value="$(arg veh)" />
  </include>

  <!--Teleop -->
  <!-- <include file="$(find husky_control)/launch/teleop.launch">
    <arg name="veh" value="$(arg veh)" />
  </include> -->
  
  <!-- Diagnostic Aggregator -->
  <node ns="$(arg veh)" pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
    <rosparam command="load" file="$(find husky_base)/config/diagnostics.yaml" />
  </node>

</launch>
