<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="vr_robot_description">

  <link name="velodyne">
    <inertial>
      <origin xyz="0.17 0 0.45" rpy="0 0 0" />
      <mass value="0.639680330048926" />
      <inertia ixx="0.000691066055083113" ixy="-1.30551476787178E-07" ixz="-1.91576696424982E-07" iyy="0.000681012953343301" iyz="1.31768757352229E-08" izz="0.000851613294109676" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://vr_robot_description/meshes/velodyne_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://vr_robot_description/meshes/velodyne_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="velodyne_joint" type="fixed">
    <origin xyz="0.17 0 0.45" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="velodyne" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="axis_camera_link">
    <inertial>
      <origin xyz="-1.22580877458481E-06 -0.0144175610955237 -0.0199063082381958" rpy="0 0 0" />
      <mass value="0.0460103793451425" />
      <inertia ixx="9.175642289247E-06" ixy="1.37982420132085E-10" ixz="-1.20945357295933E-13" iyy="4.20719528695045E-06" iyz="3.27234447085355E-08" izz="1.0173068860295E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://guiding_robot_description/meshes/camera_pan_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://guiding_robot_description/meshes/camera_pan_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="axis_camera_joint" type="fixed">
    <origin xyz="0.017 0 0" rpy="-1.5 0 0" />
    <parent link="base_link" />
    <child link="axis_camera_link" />
    <axis xyz="0 0 0" />
  </joint>

</robot>
